<div class="col-xs-12 col-sm-6 col-md-4">
  <%= link_to restaurants_path, class: 'link-to-text-color' do %>
    <div class="restaurant">
      <div class="restaurant-location">

        <p><span><i class="fas fa-map-marker-alt"></i></span><%= restaurant.location %></p>
      </div>
      <div class="restaurant-photo" style="background: linear-gradient(to bottom,rgba(20,20,20, 0.8),rgba(76,76,76,0.2) 30%), url(<%= restaurant.photo %>) center / cover no-repeat;"></div>
      <div class="restaurant-info">

        <div class="restaurant-details">
          <div class="restaurant-name">
            <%= restaurant.name %>
          </div>
          <div class="restaurant-cuisine">
            <p> <%= restaurant.cuisine %> </p>
          </div>
        </div>
        <div class="restaurant-owner">
          <span><img class="card-user" src="https://kitt.lewagon.com/placeholder/users/pbusby"></span>
          <span><i class="fas fa-ellipsis-v"></i></span>
        </div>
      </div>
    </div>
  <% end %>
</div>
